%tr
  %td= doc.id
  %td= doc.title
  %td= doc.content
  %td.action
    = link_to(doc, class: 'btn btn-success', toogle: 'tooltip', title: t('tooltips.zoom')) do
      %i.icon-zoom-in
    = link_to(edit_doc_path(doc) , class: 'btn btn-info') do
      %i.icon-edit
    = link_to(doc, class: 'btn btn-danger', method: :delete) do
      %i.icon-trash
