.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for(@doc) do |f|
      = f.error_notification

      .form-inputs
        = f.input :title
        = f.input :content

      .form-actions
        = f.button :submit, class: 'btn btn-default'
        = link_to t('cancel'), docs_path, class: 'btn'
