.panel-heading
  %i.icon-table.icon-large
  = t('tt.index', resource_name: Doc.model_name.human)
  .panel-tools
    .btn-group
      %a.btn{href: docs_path, data: {toggle: 'toolbar-tooltip'}, title: 'Reload'}
        %i.icon-refresh
    .badge= @docs.total_entries
.panel-body.filters
  = render 'filters'
%table.table
  %thead
    %tr
      %th #
      %th= sort_link(@search, :title, t('activerecord.attributes.doc.title'))
      %th= sort_link(@search, :content, t('activerecord.attributes.doc.content'))
      %th.actions
        Actions
  %tbody
    = render @docs
