- content_for :toolbar do
  = link_to new_doc_path, class: 'btn btn-default' do
    %i.icon-plus
    = t('action_button.new', resource_name: Doc.model_name.human)

.panel.panel-default.grid
  .panel-body
    -@docs.each do |doc|
      %h2= link_to doc.title, doc
      %p= time_ago_in_words(doc.created_at)
      %p= truncate(doc.content, length: 50)
