- content_for :toolbar do
  = link_to edit_doc_path(@doc ), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Doc.model_name.human)
  .panel-body
    = show_for @doc do |s|
      = s.attribute :title
      = s.attribute :content
    = link_to 'All Docs', docs_path
    = link_to 'Fix Doc', edit_doc_path(@doc)
    = link_to 'Trash It', doc_path(@doc), method: :delete, data: { confirm: 'Are you sure?' }
