!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Run Stefano Run &infin;
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header_inner
        = link_to 'Run Stefano Run', root_path

        %nav
          - if user_signed_in?
            = link_to 'Create Memento', new_doc_path
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign in', new_user_session_path

    - flash.each do |type, msg|
      %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
        %button.close &times;
        = msg if msg.is_a?(String)

    = yield
