
!!! 5
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
%html{lang: 'en', class: 'no-js'}
  %head
    %title= yield :title
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta{content: 'initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width', name: 'viewport'}
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

    %link(rel="shortcut icon" href="/assets/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114-precomposed.png")

    / Stylesheets (Don't change include order)
    = stylesheet_link_tag 'hq/application',
                          '//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css',
                          media: 'all', 'data-turbolinks-track' => true
    = yield :head

  %body.login

    .wrapper
      = render partial: 'layouts/partials/messages'
      = yield

    / Footer
    = render partial: 'layouts/partials/footer'

    / Google Analytics
    = render partial: 'layouts/partials/trackers'
